[submodule "example/async"]
	path = example/async
	url = https://github.com/krot3232/telegram_bot_async_example.git
[submodule "example/echo"]
	path = example/echo
	url = https://github.com/krot3232/telegram_bot_echo_example.git
[submodule "example/hello"]
	path = example/hello
	url = https://github.com/krot3232/telegram_bot_hello_example.git
[submodule "example/http_proxy"]
	path = example/http_proxy
	url = https://github.com/krot3232/telegram_bot_http_proxy_example.git
[submodule "example/inline_keyboard"]
	path = example/inline_keyboard
	url = https://github.com/krot3232/telegram_bot_inline_keyboard_example.git
[submodule "example/webhook"]
	path = example/webhook
	url = https://github.com/krot3232/telegram_bot_webhook_example.git
[submodule "example/captcha"]
	path = example/captcha
	url = https://github.com/krot3232/telegram_bot_captcha.git
[submodule "example/logger"]
	path = example/logger
	url = https://github.com/krot3232/logger_telegram_h.git
