{minimum_otp_vsn, "27"}.

{erl_opts, [
    debug_info,
    {i, ["include"]}
]}.
{deps, [
    {worker_pool, "6.5.0"},
    {cowboy, "2.14.2"}
]}.

{project_plugins, [
    erlfmt,
    rebar3_ex_doc,
    rebar3_depup,
    rebar3_hex
]}.

{erlfmt, [
    write,
    {files, [
        "src/*.erl", "src/*.app.src", "test/*.erl", "example/*.erl", "rebar.config"
    ]},
    {exclude_files, ["src/telegram_bot_api.erl"]}
]}.

{ex_doc, [
    {extras, ["README.md", "LICENSE.md"]},
    {main, "README.md"},
    {source_url, "https://github.com/krot3232/telegram_bot_api"},
    {api_reference, true},
    {prefix_ref_vsn_with_v, false},

    {groups_for_modules, [
        {<<"API">>, [
            telegram_bot_api,
            telegram_bot_api_file,
            telegram_bot_api_server,
            telegram_bot_api_http,
            telegram_bot_api_app,
            telegram_bot_api_sup,
            telegram_bot_api_util
        ]},
        {<<"Webhook">>, [
            telegram_bot_api_webhook_update_h,
            telegram_bot_api_webhook_error_h,
            telegram_bot_api_webhook_server
        ]},
        {<<"Long polling">>, [
            telegram_bot_api_updater_server
        ]},
        {<<"Emoji">>, [
            telegram_bot_api_emoji
        ]}
    ]}
]}.

{plugins, [rebar3_hex]}.
{hex, [
    {doc, #{provider => ex_doc}}
]}.
